<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0299EAFC-2398-47F4-BA1C-1402DC859521</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BFDB09-E825-4735-A2A7-9DD1EF9E8E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9E946CB-AF26-48E1-85B8-401FCE9AA60A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28838CFA-ED4E-4FB1-BF3C-E741D480A734</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCF8B219-B20C-44AA-8760-5F784EBE4935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F96B786-7175-47CE-87E7-BF636681F879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2BB85BF8-B2CF-4DAA-B7D9-3449596EF593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4898CE56-F27F-45ED-913C-CC0487733C5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E562B43-52A0-4CAD-A25D-92506CEF8954</key>
		<array/>
		<key>66D4B259-ED98-4BAC-B88B-4F182B2988D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB85BF8-B2CF-4DAA-B7D9-3449596EF593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28838CFA-ED4E-4FB1-BF3C-E741D480A734</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>copy to clipboard</string>
			</dict>
		</array>
		<key>914E1851-A7F5-4CD1-864C-DD154A036E1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BFDB09-E825-4735-A2A7-9DD1EF9E8E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8A9ECA4-E3E1-45B7-8D9E-E29D4CF6FAF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9E946CB-AF26-48E1-85B8-401FCE9AA60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5067313-6BB7-499B-9A16-15C61EBC2969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D8A9ECA4-E3E1-45B7-8D9E-E29D4CF6FAF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5067313-6BB7-499B-9A16-15C61EBC2969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>harasou</string>
	<key>description</key>
	<string>Paste with the alfred the xml data of KeePass and IDM.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Password Paster</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>script</key>
				<string>./viewer.sh list "{query}"
</string>
				<key>title</key>
				<string>Password Paster</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66D4B259-ED98-4BAC-B88B-4F182B2988D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./viewer.sh value "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BB85BF8-B2CF-4DAA-B7D9-3449596EF593</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>on split(str, delim)	local orgDelim, rtn		set orgDelim to AppleScript's text item delimiters	set AppleScript's text item delimiters to {delim}	set rtn to every text item of str	set AppleScript's text item delimiters to orgDelim	return rtnend splitset sendstr to split("{query}", "__TAB__")tell application "System Events"	keystroke item 1 of sendstr
	if 1 &lt; count sendstr then
		keystroke tab		delay 0.2		keystroke item 2 of sendstr
	end ifend tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4898CE56-F27F-45ED-913C-CC0487733C5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4E562B43-52A0-4CAD-A25D-92506CEF8954</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CCF8B219-B20C-44AA-8760-5F784EBE4935</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./viewer.sh value {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28838CFA-ED4E-4FB1-BF3C-E741D480A734</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Copied to clipboard</string>
				<key>title</key>
				<string>Password Paster</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3F96B786-7175-47CE-87E7-BF636681F879</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>keepass2alfred</string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>subtext</key>
				<string>Convert Alfred format of KeePass XML format</string>
				<key>title</key>
				<string>KeePass → Alfred</string>
				<key>types</key>
				<array>
					<string>public.xml</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>914E1851-A7F5-4CD1-864C-DD154A036E1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Started the conversion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>96BFDB09-E825-4735-A2A7-9DD1EF9E8E40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>idm2alfred</string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>subtext</key>
				<string>Convert Alfred format of `IDM' XML format</string>
				<key>title</key>
				<string>IDM → Alfred</string>
				<key>types</key>
				<array>
					<string>public.xml</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0299EAFC-2398-47F4-BA1C-1402DC859521</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./viewer.sh keepass2alfred {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8A9ECA4-E3E1-45B7-8D9E-E29D4CF6FAF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Conversion has ended</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B5067313-6BB7-499B-9A16-15C61EBC2969</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./viewer.sh idm2alfred {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9E946CB-AF26-48E1-85B8-401FCE9AA60A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0299EAFC-2398-47F4-BA1C-1402DC859521</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>28838CFA-ED4E-4FB1-BF3C-E741D480A734</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>2BB85BF8-B2CF-4DAA-B7D9-3449596EF593</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3F96B786-7175-47CE-87E7-BF636681F879</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>4898CE56-F27F-45ED-913C-CC0487733C5A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4E562B43-52A0-4CAD-A25D-92506CEF8954</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>66D4B259-ED98-4BAC-B88B-4F182B2988D2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>914E1851-A7F5-4CD1-864C-DD154A036E1A</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>96BFDB09-E825-4735-A2A7-9DD1EF9E8E40</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>B5067313-6BB7-499B-9A16-15C61EBC2969</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>B9E946CB-AF26-48E1-85B8-401FCE9AA60A</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>CCF8B219-B20C-44AA-8760-5F784EBE4935</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D8A9ECA4-E3E1-45B7-8D9E-E29D4CF6FAF4</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/harasou/alfred-workflows</string>
</dict>
</plist>
