<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>harasou</string>
	<key>description</key>
	<string>Check the geo information of an IP address.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>GeoIP2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>geoip</string>
				<key>script</key>
				<string>./geoip2 $(echo ${ip:={query}})</string>
				<key>title</key>
				<string>geoip</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C7A5C961-6EFD-4661-9ACF-367E12C1E626</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C7A5C961-6EFD-4661-9ACF-367E12C1E626</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/harasou/alfred-workflows/</string>
</dict>
</plist>
