<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A766D395-0771-4A99-A510-0D64F8883F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A70BCB71-D898-46F8-90CD-237CB8E21ACC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C460BF04-D495-4E56-83D5-E1B4C7699B4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7A5C961-6EFD-4661-9ACF-367E12C1E626</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9FD69D0-DB82-4DAB-BE44-53F4FB89188A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E73C1A9-84B1-4045-A3AB-58A5B2C487EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A70BCB71-D898-46F8-90CD-237CB8E21ACC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>harasou</string>
	<key>description</key>
	<string>Check the geo information of an IP address.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GeoIP2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>geoip</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./geoip2 "{query}"</string>
				<key>title</key>
				<string>geoip</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C7A5C961-6EFD-4661-9ACF-367E12C1E626</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>whois {query} &gt;whois.txt 2&gt;&amp;1 &amp;&amp; qlmanage -p whois.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A766D395-0771-4A99-A510-0D64F8883F6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>データベースのダウンロードを開始します</string>
				<key>title</key>
				<string>GeoIP2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E73C1A9-84B1-4045-A3AB-58A5B2C487EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>geoip</string>
				<key>subtext</key>
				<string>GeoLite2 データベースは、毎月の第一火曜日にアップデートされます</string>
				<key>text</key>
				<string>geoip download</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9FD69D0-DB82-4DAB-BE44-53F4FB89188A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>GeoIP2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C460BF04-D495-4E56-83D5-E1B4C7699B4B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash

GeoURL="http://geolite.maxmind.com/download/geoip/database/"
GL2CITY="GeoLite2-City"

cd mmdb

MD5=$(curl -s $GeoURL/${GL2CITY}.md5)

if [ -f ${GL2CITY}.mmdb -a "$MD5" == "$(md5 -q ${GL2CITY}.mmdb)" ] ; then
    echo "データベースは最新です"
    exit 0
fi


MD5=$(curl -s $GeoURL/${GL2CITY}.mmdb.gz|gunzip|tee ${GL2CITY}.mmdb.tmp|md5 -q)

if [ "$MD5" == "$(md5 -q ${GL2CITY}.mmdb.tmp)" ] ; then
    mv ${GL2CITY}.mmdb.tmp ${GL2CITY}.mmdb
    echo "ダウンロードが正常に完了しました"
else
    rm -f ${GL2CITY}.mmdb.tmp
    echo "ダウンロードに失敗しました"
    exit 2
fi

exit 0
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A70BCB71-D898-46F8-90CD-237CB8E21ACC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2E254B74-FBB1-485B-A7C6-A97ACD4487BF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7E73C1A9-84B1-4045-A3AB-58A5B2C487EA</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A70BCB71-D898-46F8-90CD-237CB8E21ACC</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>A766D395-0771-4A99-A510-0D64F8883F6B</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>C460BF04-D495-4E56-83D5-E1B4C7699B4B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C7A5C961-6EFD-4661-9ACF-367E12C1E626</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EA848E9D-B7C1-409F-9DF5-AA054F3CF343</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F9FD69D0-DB82-4DAB-BE44-53F4FB89188A</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/harasou/alfred-workflows/</string>
</dict>
</plist>
