<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>E6E1DE77-B581-4F64-86BF-EF208D25ED02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>174AEAB6-3542-412B-B538-B11BC83DCDFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>harasou</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Munin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>munin</string>
				<key>script</key>
				<string>cat &lt;&lt;'EOD' | ./main {query}
{
  "services": [
    {"name":"munin.ping.uio.no", "url":"http://munin.ping.uio.no/"}
  ]
}
EOD</string>
				<key>title</key>
				<string>munin</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E6E1DE77-B581-4F64-86BF-EF208D25ED02</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>174AEAB6-3542-412B-B538-B11BC83DCDFC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EEC99CD-6944-44BD-8784-A7E997572CA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>174AEAB6-3542-412B-B538-B11BC83DCDFC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7EEC99CD-6944-44BD-8784-A7E997572CA7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E6E1DE77-B581-4F64-86BF-EF208D25ED02</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/harasou/alfred-workflows</string>
</dict>
</plist>
